*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.cufooter-main-div{
    background-color: #1b1c1d;
    position: relative;
    height: 50vh;
    width: 100vw;
}
.cufooter-separator{
    display: flex;
    justify-content: center;
    opacity: 0.4;
}
.cufooter-contacts{
    color : white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 3%;
}
.cufooter-contact{
    margin : 8px;
}
.cufooter-h1{
    font-size: 2.5em;
    color : rgba(168, 145, 145, 0.6);
    display: flex;
    justify-content: center;
    padding-top : 15px;
    /* position : absolute;
    top : 2vh;
    left : 50%;
    margin-left: -8%; */
}